faiss-cpu
langchain
streamlit
streamlit_option_menu
openai
pandas
numpy
streamlit
streamlit_option_menu
python-dotenv
langchain-openai
langchain-anthropic
langchain-google-genai
gradio
firestore
tiktoken
sentence-transformers
bs4
firecrawl-py
langchainhub
wikipedia
tavily-python
langchain_community
faiss
langchain-chroma